
<div class='main'>
    <div *ngFor="let movie of filteredMovies; let i = index">
        <div class='container'>

            <div class='image'>
                <img class='img' [src]=movie.image>
            </div>
            <div class='data'>
                <div class='title'><a [href]=movie.link>{{movie.name}}</a></div>
                <div class='category'>{{movie.category}}</div>
            </div>
            <span class='btn close'>&#10006;</span>
        </div>
    </div>
</div>
<form [formGroup]='newMovieForm'>
    <div>
        <div class='header-title'> Name: </div>
        <div class='input-div'> <input type='text' placeholder="Movie Name" style='width:250px'  formControlName='name'></div>
        <div class='header-title'> Category: </div>
        <div class='input-div'>
            <select formControlName='category'  style='width:250px' >
                <option value='action'>Action</option>
                <option value='drama'>Drama</option>
                <option value='comedy'>Comedy</option>
            </select>
        </div>
        <div class='header-title'>Link: </div>
        <div class='input-div'>
            <input type='text' formControlName='link'   style='width:250px' >
            <div *ngIf="newMovieForm.get('link').errors" class='alert'>Link must be from imdb only</div>
        </div>
        <div class='header-title'> Image:</div>
        <div class='input-div'>
            <input type='text' formControlName='image'  style='width:250px' > 
            <div *ngIf="newMovieForm.get('image').errors" class='alert'>Image file only</div>
        </div>
    </div> 
    <button (click)='addToMovieList(newMovieForm.value)' class='submit' [disabled]="!newMovieForm.valid">Add</button>
</form>

<!-- {{newMovieForm.get('link').errors | json}} -->
<!-- <pre>{{newMovieForm.value | json}}</pre> -->