:host{
    padding-left: 100px;
}

.main{
    display: flex;
    flex-direction:row;
    flex-wrap:  wrap;
} 
.container{
    position: relative;
    display:flex;
    border:1px solid silver;  
    background-color: lightslategrey;
    border-radius: 5px;
    margin: 1rem;
    min-width: 15rem;
    min-height: 7rem;
}
.data{
    margin:20px 0 0 20px;
}
.title , .category{
    font-weight: bold;
    color: goldenrod;
    padding: 5px; 
}
.category{
    color: #000; 
}

.btn{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.img{
    height: 100%;
    width:55%;
} 

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

 .submit  {
    width: 30%;
    background-color: rgb(43, 128, 150);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    // cursor: pointer;
  }

  .alert{
    color:#f44336;
  }