.mainContainer{
    padding-left: 50px;
    display: flex;
}

.toogle{
    font-size:30px;
    cursor: pointer;
    z-index: 1;
    position: fixed;
}


.notShow{
    display: none;
}
.show{
    display: inline;
}