:host {
  border: solid 1px #d5daf6;
  box-shadow: -5px 4px 5px 0px #aaaaaa;
  z-index: 3432;
  position: absolute;
  float: 100;
  right: 0%;
  background-color: #fff;
  height: 93vh;
  width:300px;
}
.temp {
}
.disaBarContainer {
  height: 100vh;
}
.disaBarContainer.menu-close {
  transition: width 2s;
  width: 60px;
}
.disaBarContainer.menu-open {
  width: 260px;
}

.loggedUser{
  color: #273a94;
}
.nav_element {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px;
}
.polygon {
  font-size: 20px;
  color: #9eaae2;
}
.nav_title {
  width: 123.6px;
  height: 26.2px;
  font-family: Arial;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #273a94;
  direction: rtl;
  padding-right: 20px;
  transition: 0.5s;
  border-bottom: 1px solid lightblue;
  width: 203px;
  padding-bottom: 10px;
}
.nav_element :hover {
  background-color: #d5daf6;
  box-shadow: -5px 0px 5px 1px #aaaaaa;
}

.nav_element:target {
  background-color: #b6bfe9;
}

@media screen and (max-width: 400px) {
  :host {
    visibility: hidden;
  }

  .closeSB{
    visibility: hidden;
  }

  .openSB{
    visibility: visible !important;
    background-color: white; 
  }
}


