
  <div class="disaBarContainer">
    <div class='loggedUser'>{{userLoggedIn}}</div>
    <div *ngFor="let category of movieCategory; let i = index" class='nav_element'>
      <div class='menu_item' (click)="filterCategory(category)">{{category}}</div>
  </div></div> <br>