
<form [formGroup]='loginForm'>
    <div>
        <div><input type='text' style='width:300px' formControlName='name' placeholder="User Name" ></div><br>
        <div><input type='password' style='width:300px'  formControlName='pass' placeholder="Password"></div><br>
        <button (click)='login(loginForm.value)'>כניסה</button>
    </div>
</form>
<br><br>
Please Enter <br> "admin" <br> "1234"